<h2 style = "color : Brown"> Operations on Pandas</h2>

This notebook will cover the following topics: 
* Filtering dataframes 
    * Single and multiple conditions
* Creating new columns
* Lambda functions 
* Group by and aggregate functions
* Pivot data
* Merging data frames
    * Joins and concatenations

<h4 style = "color : Sky blue"> Preparatory steps</h4>  

##### Background

An FMCG company P&J found that the sales of their best selling items are affected by the weather and rainfall trend. For example, the sale of tea increases when it rains, sunscreen is sold on the days when it is least likely to rain, and the sky is clear. They would like to check whether the weather patterns play a vital role in the sale of certain items. Hence as initial experimentation, they would like you to forecast the weather trend in the upcoming days. The target region for this activity is Australia; accordingly, this exercise will be based on analysing and cleaning the weather data from the Australian region available on public platforms.  

##### Read the data into a dataframe

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("weatherdata.csv", header =0)

##### Display the data

In [3]:
data.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0

##### Data Dictionary 

1. Date: The date on which the recording was taken
2. Location: The location of the recording
3. MinTemp: Minimum temperature on the day of the recording (in C)
4. MaxTemp: Maximum temperature in the day of the recording (in C)
5. Rainfall: Rainfall in mm
6. Evaporation: The so-called Class A pan evaporation (mm) in the 24 hours to 9am
7. Sunshine: The number of hours of bright sunshine in the day.
8. WindGustDir: The direction of the strongest wind gust in the 24 hours to midnight
9. WindGustSpeed: The speed (km/h) of the strongest wind gust in the 24 hours to midnight

<h4 style = "color : Sky blue"> Example 1.1: Filtering dataframes</h4>

Find the days which had sunshine for more that 4 hours. These days will have increased sales of sunscreen.

In [4]:
data.shape

(142193, 9)

In [5]:
data["Sunshine"]>4

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
142163    False
142164    False
142165    False
142166    False
142167    False
142168    False
142169    False
142170    False
142171    False
142172    False
142173    False
142174    False
142175    False
142176    False
142177    False
142178    False
142179    False
142180    False
142181    False
142182    False
142183    False
142184    False
142185    False
142186    False
142187    False
142188    False
142189    False
142190    False
142191    False
142192    False
Name: Sunshine, Length: 142193, dtype: bool

In [6]:
data[data["Sunshine"]>4]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0
5940,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0
5941,2009-01-03,Cobar,15.5,34.1,0.0,12.6,13.3,SE,30.0
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0
5944,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0
5946,2009-01-08,Cobar,23.3,34.0,0.0,9.8,12.6,SSW,41.0
5947,2009-01-09,Cobar,16.1,34.2,0.0,14.6,13.2,SE,37.0
5948,2009-01-10,Cobar,19.0,35.5,0.0,12.0,12.3,ENE,48.0
5949,2009-01-11,Cobar,19.7,35.5,0.0,11.0,12.7,NE,41.0
5950,2009-01-12,Cobar,20.9,37.8,0.0,12.8,13.2,E,30.0
5951,2009-01-13,Cobar,23.9,39.1,0.0,13.8,12.1,ENE,39.0
5952,2009-01-14,Cobar,24.9,41.2,0.0,14.8,13.0,SSW,43.0
5953,2009-01-15,Cobar,25.2,40.5,0.0,16.4,10.3,SW,44.0
5954,2009-01-16,Cobar,21.6,34.2,0.0,17.4,13.1,SW,44.0
5955,2009-01-17,Cobar,18.4,31.8,0.0,16.0,12.9,S,33.0
5956,2009-01-18,Cobar,17.9,34.2,0.0,12.0,11.3,SE,61.0
5957,2009-01-19,Cobar,21.4,37.5,0.0,14.8,6.9,NNE,43.0
5958,2009-01-20,Cobar,23.3,39.4,4.8,12.0,10.9,W,59.0
5960,2009-01-22,Cobar,21.8,30.7,0.0,8.0,5.9,WNW,56.0
5961,2009-01-23,Cobar,20.3,36.0,18.0,8.2,10.5,WSW,94.0
5962,2009-01-24,Cobar,22.1,34.7,8.6,8.6,12.4,NNW,50.0
5963,2009-01-25,Cobar,19.7,37.3,0.0,14.2,13.4,SSW,28.0
5964,2009-01-26,Cobar,23.8,39.9,0.0,12.6,13.2,S,31.0
5965,2009-01-27,Cobar,27.0,38.7,0.0,14.2,13.0,ENE,46.0
5966,2009-01-28,Cobar,26.2,38.5,0.0,14.6,13.3,E,39.0
5967,2009-01-29,Cobar,25.0,39.5,0.0,14.6,13.6,ENE,52.0
5968,2009-01-30,Cobar,25.1,39.3,0.0,15.8,13.2,ESE,44.0
5969,2009-01-31,Cobar,25.2,38.5,0.0,16.2,13.1,ENE,44.0
5970,2009-02-01,Cobar,24.8,40.8,0.0,13.4,11.3,SE,30.0
...,...,...,...,...,...,...,...,...,...
139083,2017-05-26,Darwin,24.3,31.9,0.0,6.4,10.9,ESE,50.0
139084,2017-05-27,Darwin,23.5,33.3,0.0,5.4,10.8,E,43.0
139085,2017-05-28,Darwin,22.4,32.2,0.0,8.0,6.3,E,39.0
139086,2017-05-29,Darwin,24.1,32.6,0.0,6.8,10.4,E,52.0
139087,2017-05-30,Darwin,22.5,32.3,0.0,6.6,10.6,SE,48.0
139088,2017-05-31,Darwin,20.4,31.4,0.2,9.6,9.6,ESE,52.0
139089,2017-06-01,Darwin,21.9,31.6,0.0,10.0,9.9,ESE,43.0
139090,2017-06-02,Darwin,21.6,32.0,0.0,9.6,10.7,ESE,43.0
139091,2017-06-03,Darwin,22.7,31.6,0.0,7.0,7.4,ESE,43.0
139092,2017-06-04,Darwin,22.4,31.4,0.0,6.6,8.3,E,43.0
139093,2017-06-05,Darwin,23.3,32.4,0.0,5.4,8.9,E,43.0
139094,2017-06-06,Darwin,20.6,31.8,0.0,6.4,10.8,E,46.0
139095,2017-06-07,Darwin,20.0,30.4,0.0,9.0,10.8,ESE,43.0
139096,2017-06-08,Darwin,19.2,29.4,0.0,7.4,10.9,E,54.0
139097,2017-06-09,Darwin,20.6,29.4,0.0,10.6,5.4,E,46.0
139098,2017-06-10,Darwin,18.7,29.4,0.0,7.8,8.7,ESE,48.0
139099,2017-06-11,Darwin,19.0,29.4,0.0,7.6,10.4,E,46.0
139100,2017-06-12,Darwin,17.2,29.1,0.0,7.2,10.1,ESE,44.0
139101,2017-06-13,Darwin,18.3,29.8,0.0,8.4,10.5,ESE,41.0
139102,2017-06-14,Darwin,16.9,30.3,0.0,5.4,10.9,E,33.0
139103,2017-06-15,Darwin,19.0,30.9,0.0,5.0,10.8,E,41.0
139104,2017-06-16,Darwin,18.9,31.1,0.0,6.0,10.6,ESE,31.0
139105,2017-06-17,Darwin,20.2,32.1,0.0,4.8,9.9,E,31.0
139106,2017-06-18,Darwin,20.0,33.1,0.0,4.6,10.9,E,43.0
139107,2017-06-19,Darwin,21.9,33.0,0.0,5.2,10.9,E,44.0
139108,2017-06-20,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0
139109,2017-06-21,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0
139110,2017-06-22,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0
139111,2017-06-23,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0
139112,2017-06-24,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0

**Note:** High sunshine corresponds to low rainfall.

<h4 style = "color : Sky blue"> Example 1.2: Filtering dataframes</h4>

The cold drink sales will most likely increase on the days which have high sunshine(>5) and high max temperature(>35). Use the filter operation to filter out these days

In [7]:
data[(data["MaxTemp"]>35) & (data["Sunshine"]>5)]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0
5943,2009-01-05,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0
5944,2009-01-06,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0
5948,2009-01-10,Cobar,19.0,35.5,0.0,12.0,12.3,ENE,48.0
5949,2009-01-11,Cobar,19.7,35.5,0.0,11.0,12.7,NE,41.0
5950,2009-01-12,Cobar,20.9,37.8,0.0,12.8,13.2,E,30.0
5951,2009-01-13,Cobar,23.9,39.1,0.0,13.8,12.1,ENE,39.0
5952,2009-01-14,Cobar,24.9,41.2,0.0,14.8,13.0,SSW,43.0
5953,2009-01-15,Cobar,25.2,40.5,0.0,16.4,10.3,SW,44.0
5957,2009-01-19,Cobar,21.4,37.5,0.0,14.8,6.9,NNE,43.0
5958,2009-01-20,Cobar,23.3,39.4,4.8,12.0,10.9,W,59.0
5961,2009-01-23,Cobar,20.3,36.0,18.0,8.2,10.5,WSW,94.0
5963,2009-01-25,Cobar,19.7,37.3,0.0,14.2,13.4,SSW,28.0
5964,2009-01-26,Cobar,23.8,39.9,0.0,12.6,13.2,S,31.0
5965,2009-01-27,Cobar,27.0,38.7,0.0,14.2,13.0,ENE,46.0
5966,2009-01-28,Cobar,26.2,38.5,0.0,14.6,13.3,E,39.0
5967,2009-01-29,Cobar,25.0,39.5,0.0,14.6,13.6,ENE,52.0
5968,2009-01-30,Cobar,25.1,39.3,0.0,15.8,13.2,ESE,44.0
5969,2009-01-31,Cobar,25.2,38.5,0.0,16.2,13.1,ENE,44.0
5970,2009-02-01,Cobar,24.8,40.8,0.0,13.4,11.3,SE,30.0
5971,2009-02-02,Cobar,27.6,40.3,0.0,14.4,10.9,S,57.0
5972,2009-02-03,Cobar,23.6,40.4,0.6,11.8,12.2,WSW,54.0
5973,2009-02-04,Cobar,24.1,41.4,1.6,12.6,12.3,ENE,39.0
5974,2009-02-05,Cobar,27.2,43.4,0.0,14.2,12.6,NNW,37.0
5975,2009-02-06,Cobar,29.1,43.5,0.0,13.0,12.1,WNW,28.0
5976,2009-02-07,Cobar,28.9,41.4,0.0,15.6,12.7,NNE,41.0
5977,2009-02-08,Cobar,25.1,42.0,0.0,17.4,13.0,NNE,39.0
5978,2009-02-09,Cobar,25.4,36.6,0.0,15.2,10.3,SW,43.0
5992,2009-02-23,Cobar,21.9,35.1,0.0,9.0,10.2,S,43.0
...,...,...,...,...,...,...,...,...,...
138541,2015-12-01,Darwin,25.1,35.5,1.2,5.2,7.8,N,28.0
138543,2015-12-03,Darwin,25.6,35.6,0.0,5.0,11.0,ESE,37.0
138546,2015-12-06,Darwin,25.6,35.9,0.0,4.6,12.0,N,41.0
138547,2015-12-07,Darwin,27.0,36.4,0.0,8.4,11.9,NNE,33.0
138584,2016-01-13,Darwin,25.2,35.5,0.0,8.0,7.8,S,39.0
138623,2016-02-21,Darwin,27.4,35.3,0.0,7.0,9.9,NNW,30.0
138632,2016-03-01,Darwin,26.6,35.2,0.0,8.0,11.5,NW,28.0
138645,2016-03-14,Darwin,26.2,35.1,1.6,6.0,6.6,WSW,44.0
138673,2016-04-11,Darwin,25.7,35.9,0.0,9.2,11.2,E,39.0
138674,2016-04-12,Darwin,25.6,36.0,0.0,6.8,10.7,E,43.0
138675,2016-04-13,Darwin,26.1,35.7,0.0,9.8,9.5,ENE,44.0
138683,2016-04-21,Darwin,24.9,35.7,0.0,5.2,11.1,E,41.0
138684,2016-04-22,Darwin,24.9,35.9,0.0,6.0,11.0,E,41.0
138685,2016-04-23,Darwin,24.9,35.5,0.0,8.0,9.8,E,52.0
138686,2016-04-24,Darwin,23.9,35.4,0.0,8.0,10.8,SSE,56.0
138687,2016-04-25,Darwin,23.7,35.6,0.0,9.0,11.1,ESE,57.0
138688,2016-04-26,Darwin,23.3,35.4,0.0,8.0,10.0,E,33.0
138709,2016-05-17,Darwin,24.8,35.1,0.0,6.6,10.9,ENE,39.0
138710,2016-05-18,Darwin,25.0,35.2,0.0,3.8,11.0,ESE,33.0
138715,2016-05-23,Darwin,25.9,35.1,0.0,4.8,11.1,S,37.0
138821,2016-09-06,Darwin,24.0,35.2,0.0,8.0,10.7,NW,41.0
138837,2016-09-22,Darwin,25.0,35.5,0.0,6.8,9.3,NNE,39.0
138851,2016-10-06,Darwin,24.8,35.8,0.0,8.0,9.3,E,41.0
138852,2016-10-07,Darwin,26.3,36.2,0.0,8.0,11.0,E,44.0
138853,2016-10-08,Darwin,25.7,37.5,0.0,8.0,11.5,E,50.0
138862,2016-10-17,Darwin,25.1,35.2,0.0,7.4,11.5,NNE,39.0
138879,2016-11-03,Darwin,24.4,35.5,0.0,7.8,9.9,NW,35.0
138892,2016-11-16,Darwin,25.7,35.2,0.0,5.4,11.3,NW,26.0
138905,2016-11-29,Darwin,25.8,35.1,0.8,4.8,6.4,SSE,46.0
138910,2016-12-04,Darwin,25.8,35.2,0.0,NaN,12.0,ESE,33.0

**Note:** The construction of the filter condition, it has individual filter conditions separated in parenthesis

<h4 style = "color : Sky blue"> Example 2.1: Creating new columns</h4>
    
If you noticed the filtering done in the earlier examples did not give precise information about the days, the data column simply has the dates. The date column can be split into the year, month and day of the month.

**Special module of pandas** The "DatetimeIndex" is a particular module which has the capabilities to extract a day, month and year form the date.

In [8]:
pd.DatetimeIndex(data["Date"])

DatetimeIndex(['2008-12-01', '2008-12-02', '2008-12-03', '2008-12-04',
               '2008-12-05', '2008-12-06', '2008-12-07', '2008-12-08',
               '2008-12-09', '2008-12-10',
               ...
               '2017-06-15', '2017-06-16', '2017-06-17', '2017-06-18',
               '2017-06-19', '2017-06-20', '2017-06-21', '2017-06-22',
               '2017-06-23', '2017-06-24'],
              dtype='datetime64[ns]', name='Date', length=142193, freq=None)

In [9]:
pd.DatetimeIndex(data["Date"]).year

Int64Index([2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008, 2008,
            ...
            2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017],
           dtype='int64', name='Date', length=142193)

**Adding New columns** To add a new column in the dataframe just name the column and pass the instructions about the creation of the new column

In [10]:
data["Year"] = pd.DatetimeIndex(data["Date"]).year

In [11]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008

In [12]:
data["Month"] = pd.DatetimeIndex(data["Date"]).month

In [13]:
data["Dayofmonth"] = pd.DatetimeIndex(data["Date"]).day

In [14]:
data.head(20)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,2008,12,6
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,2008,12,7
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,2008,12,8
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,2008,12,9
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,2008,12,10
10,2008-12-11,Albury,13.4,30.4,0.0,NaN,NaN,N,30.0,2008,12,11
11,2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31.0,2008,12,12
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,2008,12,13
13,2008-12-14,Albury,12.6,21.0,3.6,NaN,NaN,SW,44.0,2008,12,14
14,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,2008,12,16
15,2008-12-17,Albury,14.1,20.9,0.0,NaN,NaN,ENE,22.0,2008,12,17
16,2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,2008,12,18
17,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,2008,12,19
18,2008-12-20,Albury,9.8,25.6,0.0,NaN,NaN,SSE,26.0,2008,12,20
19,2008-12-21,Albury,11.5,29.3,0.0,NaN,NaN,S,24.0,2008,12,21

<h4 style = "color : Sky blue"> Example 2.2: Creating new columns</h4>

The temperature given is in Celcius, convert it in Fahrenheit and store it in a new column for it.

In [15]:
data["Maxtemp_F"] = data["MaxTemp"] * 9/5 +32

In [16]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14

In [7]:
#practice code

import numpy as np
import pandas as pd

data = pd.read_csv('weatherdata.csv', header = 0)

print (data.shape)

filter_data = data[(data['MaxTemp'] > 35) & (data['Sunshine'] > 4)]  #creating filter data from existing dataset

print (filter_data.shape)

data['Year'] = pd.DatetimeIndex(data['Date']).year

data['Month'] = pd.DatetimeIndex(data['Date']).month

data['DayOfMonth'] = pd.DatetimeIndex(data['Date']).day

data['MaxTemp_F'] = data['MaxTemp'] * 9 / 5 + 32

print (data.head())

(142193, 9)
(3915, 9)
         Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine  \
0  2008-12-01   Albury     13.4     22.9       0.6          NaN       NaN
1  2008-12-02   Albury      7.4     25.1       0.0          NaN       NaN
2  2008-12-03   Albury     12.9     25.7       0.0          NaN       NaN
3  2008-12-04   Albury      9.2     28.0       0.0          NaN       NaN
4  2008-12-05   Albury     17.5     32.3       1.0          NaN       NaN

  WindGustDir  WindGustSpeed  Year  Month  DayOfMonth  MaxTemp_F
0           W           44.0  2008     12           1      73.22
1         WNW           44.0  2008     12           2      77.18
2         WSW           46.0  2008     12           3      78.26
3          NE           24.0  2008     12           4      82.40
4           W           41.0  2008     12           5      90.14

<h4 style = "color : Sky blue"> Example 3.1: Lambda Functions</h4>

Let's create a new column which highlights the days which have rainfall more than 50 mm as rainy days and the rest are not.

In [18]:
data.Rainfall

0          0.6
1          0.0
2          0.0
3          0.0
4          1.0
5          0.2
6          0.0
7          0.0
8          0.0
9          1.4
10         0.0
11         2.2
12        15.6
13         3.6
14         NaN
15         0.0
16        16.8
17        10.6
18         0.0
19         0.0
20         0.0
21         0.0
22         0.0
23         0.0
24         0.0
25         0.0
26         0.0
27         0.0
28         1.2
29         0.8
          ...
142163     0.4
142164     0.0
142165     0.0
142166     0.0
142167     0.0
142168     0.0
142169     0.0
142170     0.0
142171     0.0
142172     0.0
142173     0.0
142174     0.0
142175     0.0
142176     0.0
142177     0.0
142178     0.0
142179     0.0
142180     0.0
142181     0.0
142182     0.0
142183     0.0
142184     0.0
142185     0.0
142186     0.0
142187     0.0
142188     0.0
142189     0.0
142190     0.0
142191     0.0
142192     0.0
Name: Rainfall, Length: 142193, dtype: float64

In [17]:
data.Rainfall.apply(lambda x: "Rainy" if x > 50  else "Not rainy")

0         Not rainy
1         Not rainy
2         Not rainy
3         Not rainy
4         Not rainy
5         Not rainy
6         Not rainy
7         Not rainy
8         Not rainy
9         Not rainy
10        Not rainy
11        Not rainy
12        Not rainy
13        Not rainy
14        Not rainy
15        Not rainy
16        Not rainy
17        Not rainy
18        Not rainy
19        Not rainy
20        Not rainy
21        Not rainy
22        Not rainy
23        Not rainy
24        Not rainy
25        Not rainy
26        Not rainy
27        Not rainy
28        Not rainy
29        Not rainy
            ...
142163    Not rainy
142164    Not rainy
142165    Not rainy
142166    Not rainy
142167    Not rainy
142168    Not rainy
142169    Not rainy
142170    Not rainy
142171    Not rainy
142172    Not rainy
142173    Not rainy
142174    Not rainy
142175    Not rainy
142176    Not rainy
142177    Not rainy
142178    Not rainy
142179    Not rainy
142180    Not rainy
142181    Not rainy
142182    Not rainy
142183    Not rainy
142184    Not rainy
142185    Not rainy
142186    Not rainy
142187    Not rainy
142188    Not rainy
142189    Not rainy
142190    Not rainy
142191    Not rainy
142192    Not rainy
Name: Rainfall, Length: 142193, dtype: object

**Note** 
1. New way of accessing a column in a dataframe by using the dot operator.
2. "apply" function takes in a lambda operator as argument.

In [19]:
type(data.Rainfall)

pandas.core.series.Series

In [20]:
type(data["Rainfall"])

pandas.core.series.Series

In [21]:
data["is_raining"] = data.Rainfall.apply(lambda x: "Rainy" if x > 50  else "Not rainy")

In [24]:
## Note that the above code is also another way to find this
## data["is_raining"] = data[Rainfall]apply(lambda x: "Rainy" if x > 50  else "Not rainy")

In [22]:
data[data["is_raining"] == "Rainy"]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining
429,2010-02-05,Albury,19.2,26.1,52.2,NaN,NaN,SE,33.0,2010,2,5,78.98,Rainy
455,2010-03-08,Albury,18.1,25.5,66.0,NaN,NaN,NW,56.0,2010,3,8,77.90,Rainy
690,2010-10-31,Albury,13.8,18.7,50.8,NaN,NaN,NNW,52.0,2010,10,31,65.66,Rainy
704,2010-11-14,Albury,19.2,22.6,52.6,NaN,NaN,N,26.0,2010,11,14,72.68,Rainy
787,2011-02-05,Albury,20.4,23.0,99.2,NaN,NaN,NW,28.0,2011,2,5,73.40,Rainy
788,2011-02-06,Albury,14.7,21.5,51.0,NaN,NaN,WSW,43.0,2011,2,6,70.70,Rainy
1142,2012-03-01,Albury,17.1,20.9,104.2,NaN,NaN,SE,57.0,2012,3,1,69.62,Rainy
1145,2012-03-04,Albury,16.7,24.8,66.0,NaN,NaN,WSW,35.0,2012,3,4,76.64,Rainy
1537,2013-06-02,Albury,11.4,17.3,53.4,NaN,NaN,SSW,31.0,2013,6,2,63.14,Rainy
1849,2014-04-11,Albury,16.4,24.0,66.2,NaN,NaN,SSW,30.0,2014,4,11,75.20,Rainy
4060,2012-01-26,BadgerysCreek,19.5,27.3,61.4,NaN,NaN,E,41.0,2012,1,26,81.14,Rainy
4101,2012-03-08,BadgerysCreek,14.0,21.0,67.8,NaN,NaN,WSW,52.0,2012,3,8,69.80,Rainy
4143,2012-04-19,BadgerysCreek,16.9,25.2,82.4,NaN,NaN,E,24.0,2012,4,19,77.36,Rainy
4395,2013-01-29,BadgerysCreek,18.3,28.1,116.0,NaN,NaN,WSW,37.0,2013,1,29,82.58,Rainy
5166,2015-04-21,BadgerysCreek,12.8,15.8,83.6,NaN,NaN,SSW,61.0,2015,4,21,60.44,Rainy
5167,2015-04-22,BadgerysCreek,12.3,18.5,50.2,NaN,NaN,SW,54.0,2015,4,22,65.30,Rainy
5571,2016-06-05,BadgerysCreek,14.5,18.1,100.2,NaN,NaN,ENE,56.0,2016,6,5,64.58,Rainy
5572,2016-06-06,BadgerysCreek,13.4,17.7,109.2,NaN,NaN,WSW,57.0,2016,6,6,63.86,Rainy
5836,2017-03-15,BadgerysCreek,18.5,26.2,54.0,NaN,NaN,ENE,43.0,2017,3,15,79.16,Rainy
7716,2014-02-16,Cobar,21.4,28.6,68.0,NaN,NaN,SW,44.0,2014,2,16,83.48,Rainy
8973,2009-02-16,CoffsHarbour,19.0,23.4,63.6,NaN,0.0,S,57.0,2009,2,16,74.12,Rainy
8974,2009-02-17,CoffsHarbour,19.9,27.1,189.0,NaN,4.9,E,54.0,2009,2,17,80.78,Rainy
8975,2009-02-18,CoffsHarbour,20.4,23.8,58.6,NaN,0.0,SSW,31.0,2009,2,18,74.84,Rainy
9036,2009-04-21,CoffsHarbour,15.1,21.8,59.0,8.4,1.0,S,72.0,2009,4,21,71.24,Rainy
9067,2009-05-22,CoffsHarbour,15.7,20.2,76.0,NaN,0.0,ESE,87.0,2009,5,22,68.36,Rainy
9095,2009-06-19,CoffsHarbour,13.2,17.0,55.8,0.2,0.0,ENE,52.0,2009,6,19,62.60,Rainy
9096,2009-06-20,CoffsHarbour,12.7,19.2,70.0,NaN,1.6,E,37.0,2009,6,20,66.56,Rainy
9098,2009-06-22,CoffsHarbour,16.0,19.0,71.2,NaN,0.6,NE,56.0,2009,6,22,66.20,Rainy
9225,2009-10-27,CoffsHarbour,17.3,21.0,141.8,NaN,0.0,NaN,NaN,2009,10,27,69.80,Rainy
9235,2009-11-06,CoffsHarbour,17.8,21.4,96.0,NaN,0.0,ESE,61.0,2009,11,6,70.52,Rainy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138974,2017-02-06,Darwin,23.8,30.0,59.6,NaN,0.0,WNW,52.0,2017,2,6,86.00,Rainy
138977,2017-02-09,Darwin,23.3,28.2,59.6,NaN,0.5,WNW,50.0,2017,2,9,82.76,Rainy
138978,2017-02-10,Darwin,23.4,29.1,72.8,NaN,0.2,WSW,33.0,2017,2,10,84.38,Rainy
138980,2017-02-12,Darwin,24.0,29.0,58.4,NaN,1.1,W,41.0,2017,2,12,84.20,Rainy
139001,2017-03-05,Darwin,24.5,28.4,55.0,NaN,0.0,ESE,59.0,2017,3,5,83.12,Rainy
139039,2017-04-12,Darwin,18.0,27.9,65.8,NaN,1.0,S,41.0,2017,4,12,82.22,Rainy
139116,2013-03-04,Katherine,21.6,33.0,81.0,NaN,NaN,W,37.0,2013,3,4,91.40,Rainy
139140,2013-03-28,Katherine,23.7,33.8,117.6,NaN,NaN,ESE,35.0,2013,3,28,92.84,Rainy
139141,2013-03-29,Katherine,23.2,29.6,79.4,NaN,NaN,NE,43.0,2013,3,29,85.28,Rainy
139142,2013-03-30,Katherine,24.0,25.8,63.4,NaN,NaN,E,28.0,2013,3,30,78.44,Rainy
139144,2013-04-01,Katherine,NaN,30.4,96.4,NaN,NaN,E,31.0,2013,4,1,86.72,Rainy
139438,2014-01-22,Katherine,23.4,33.9,59.6,NaN,NaN,ESE,43.0,2014,1,22,93.02,Rainy
139448,2014-02-01,Katherine,21.0,28.2,69.5,NaN,NaN,NW,33.0,2014,2,1,82.76,Rainy
139449,2014-02-02,Katherine,22.7,32.6,65.6,NaN,NaN,NW,39.0,2014,2,2,90.68,Rainy
139476,2014-03-02,Katherine,23.2,34.4,84.0,NaN,NaN,NW,28.0,2014,3,2,93.92,Rainy
139770,2014-12-23,Katherine,23.2,36.5,61.2,NaN,NaN,S,31.0,2014,12,23,97.70,Rainy
139778,2014-12-31,Katherine,23.2,34.6,53.4,NaN,NaN,NE,56.0,2014,12,31,94.28,Rainy
139864,2015-03-27,Katherine,23.4,31.3,58.6,NaN,NaN,SE,30.0,2015,3,27,88.34,Rainy
140124,2015-12-13,Katherine,23.3,35.0,53.8,10.2,NaN,N,26.0,2015,12,13,95.00,Rainy
140136,2015-12-27,Katherine,22.5,26.5,167.0,NaN,NaN,W,52.0,2015,12,27,79.70,Rainy
140153,2016-01-13,Katherine,23.4,36.5,83.2,NaN,NaN,NW,54.0,2016,1,13,97.70,Rainy
140158,2016-01-18,Katherine,23.5,35.4,53.4,NaN,NaN,SE,41.0,2016,1,18,95.72,Rainy
140502,2017-01-01,Katherine,22.2,29.5,50.8,19.2,NaN,WNW,39.0,2017,1,1,85.10,Rainy
140503,2017-01-02,Katherine,23.2,31.0,69.0,NaN,NaN,NNW,28.0,2017,1,2,87.80,Rainy
140525,2017-01-24,Katherine,23.0,31.0,72.6,NaN,NaN,NNW,43.0,2017,1,24,87.80,Rainy
140532,2017-02-03,Katherine,23.4,33.0,62.0,NaN,NaN,NNW,33.0,2017,2,3,91.40,Rainy
140571,2017-03-14,Katherine,23.0,35.0,79.0,31.0,NaN,ESE,22.0,2017,3,14,95.00,Rainy
140578,2017-03-22,Katherine,24.1,34.5,61.4,NaN,NaN,N,31.0,2017,3,22,94.10,Rainy
142013,2016-12-26,Uluru,22.1,27.4,83.8,NaN,NaN,ENE,72.0,2016,12,26,81.32,Rainy
142014,2016-12-27,Uluru,22.1,35.8,63.8,NaN,NaN,WNW,43.0,2016,12,27,96.44,Rainy

In [35]:
#practice code

import numpy as np
import pandas as pd

data = pd.read_csv('weatherdata.csv', header = 0)

print (type(data.Rainfall))

data['is_raining'] = data.Rainfall.apply(lambda x: "Rainy" if x > 50 else "Not Rainy")

data[data['is_raining'] == "Rainy"]

<class 'pandas.core.series.Series'>

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,is_raining
429,2010-02-05,Albury,19.2,26.1,52.2,NaN,NaN,SE,33.0,Rainy
455,2010-03-08,Albury,18.1,25.5,66.0,NaN,NaN,NW,56.0,Rainy
690,2010-10-31,Albury,13.8,18.7,50.8,NaN,NaN,NNW,52.0,Rainy
704,2010-11-14,Albury,19.2,22.6,52.6,NaN,NaN,N,26.0,Rainy
787,2011-02-05,Albury,20.4,23.0,99.2,NaN,NaN,NW,28.0,Rainy
...,...,...,...,...,...,...,...,...,...,...
140532,2017-02-03,Katherine,23.4,33.0,62.0,NaN,NaN,NNW,33.0,Rainy
140571,2017-03-14,Katherine,23.0,35.0,79.0,31.0,NaN,ESE,22.0,Rainy
140578,2017-03-22,Katherine,24.1,34.5,61.4,NaN,NaN,N,31.0,Rainy
142013,2016-12-26,Uluru,22.1,27.4,83.8,NaN,NaN,ENE,72.0,Rainy
142014,2016-12-27,Uluru,22.1,35.8,63.8,NaN,NaN,WNW,43.0,Rainy


<h4 style = "color : Sky blue"> Example 4.1: Grouping and Aggregate functions</h4>

Find the location which received the most amount of rain in the given data. In this place, certain promotional offers can be put in place to boost sales of tea, umbrella etc.

In [25]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not rainy
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not rainy
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not rainy
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not rainy
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not rainy

In [32]:
data.tail()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,2017,6,20,71.24,Not rainy
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,2017,6,21,74.12,Not rainy
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,2017,6,22,77.54,Not rainy
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,2017,6,23,80.42,Not rainy
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,2017,6,24,80.60,Not rainy

In [29]:
data_bylocation = data.groupby(by = ['Location']).mean()
data_bylocation.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F
Location,,,,,,,,,,
Adelaide,12.628368,22.945402,1.572185,5.824924,7.752002,36.530812,2012.525890,6.523948,15.740453,73.301723
Albany,12.948461,20.072587,2.255073,4.207273,6.658765,NaN,2012.708554,6.413130,15.680371,68.130657
Albury,9.520899,22.630963,1.925710,NaN,NaN,32.953016,2012.733643,6.412488,15.745932,72.735734
AliceSprings,13.125182,29.244191,0.869355,9.029929,9.581944,40.533714,2012.719565,6.407456,15.689211,84.639545
BadgerysCreek,11.136900,24.023111,2.207925,NaN,NaN,33.609890,2012.790984,6.326161,15.769467,75.241600

In [31]:
data_bylocation.sort_values('Rainfall', ascending = False).head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F
Location,,,,,,,,,,
Cairns,21.199197,29.544344,5.765317,6.211976,7.575995,38.067991,2012.677376,6.363454,15.720214,85.179819
Darwin,23.210530,32.540977,5.094048,6.319089,8.499310,40.582355,2012.502820,6.534461,15.716792,90.573759
CoffsHarbour,14.365774,23.915575,5.054592,3.904267,7.362374,39.232197,2012.749746,6.392482,15.716898,75.048035
GoldCoast,17.341490,25.752971,3.728933,NaN,NaN,42.472539,2012.683221,6.435906,15.717114,78.355347
Wollongong,14.949058,21.476510,3.589127,NaN,NaN,45.695257,2012.743882,6.423734,15.694268,70.657718

<h4 style = "color : Sky blue"> Example 4.2: Grouping and Aggregate functions</h4>

Hot chocolate is the most sold product in the cold months. Find month which is the coldest so that the inventory team can keep the stock of hot chocolate ready well in advance.

In [42]:
data_bymonth = data.groupby(by = ['Month']).mean()
data_bymonth

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F,WCI
Month,,,,,,,,,,
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935

In [35]:
data_bymonth.sort_values('MinTemp')

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F
Month,,,,,,,,,
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252

<h4 style = "color : Sky blue"> Example 4.3: Grouping and Aggregate functions</h4>

Sometimes feeling cold is more than about low temperatures; a windy day can also make you cold. A factor called the chill factor can be used to quantify the cold based on the wind speed and the temperature. The formula for the chill factor is given by 


$ WCI = (10 * \sqrt{v} - v + 10.5) .(33 - T_{m}) $

v is the speed of the wind and $ T_{m} $ is the minimum temperature

Add a column for WCI and find the month with the lowest WCI.

In [37]:
from math import sqrt
def wci(x):
    velocity = x['WindGustSpeed']
    minTemp = x['MinTemp']
    return ((10 * sqrt(velocity) - velocity + 10.5)*(33-minTemp))

In [38]:
data['WCI'] = data.apply(wci,axis=1)

In [39]:
data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining,WCI
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not rainy,643.516918
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not rainy,840.511893
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not rainy,649.698327
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not rainy,844.657118
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not rainy,519.734257

In [41]:
data_bymonth = data.groupby(by = ['Month']).mean()
data_bymonth

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F,WCI
Month,,,,,,,,,,
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935

In [44]:
data_bymonth.sort_values('WCI', ascending = False)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F,WCI
Month,,,,,,,,,,
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996

In [43]:
#The month with the lowest WCI
data_bymonth.sort_values('WCI')

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,Dayofmonth,Maxtemp_F,WCI
Month,,,,,,,,,,
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699

In [6]:
#practice code

import numpy as np
import pandas as pd

data = pd.read_csv('weatherdata.csv', header = 0)

data_by_location = data.groupby(by = 'Location').mean()

data_by_location.sort_values('Rainfall', ascending=False).head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed
Location,,,,,,
Cairns,21.199197,29.544344,5.765317,6.211976,7.575995,38.067991
Darwin,23.210530,32.540977,5.094048,6.319089,8.499310,40.582355
CoffsHarbour,14.365774,23.915575,5.054592,3.904267,7.362374,39.232197
GoldCoast,17.341490,25.752971,3.728933,NaN,NaN,42.472539
Wollongong,14.949058,21.476510,3.589127,NaN,NaN,45.695257

In [27]:
#practice code
import numpy as np
import pandas as pd
from math import sqrt

def wci(x):
    velocity = x['WindGustSpeed']
    mintemp = x['MinTemp']
    
    wci = ((10 * sqrt(velocity) - velocity + 10.5) * (33 - mintemp))

    return wci

data = pd.read_csv('weatherdata.csv', header = 0)

data['Year'] = pd.DatetimeIndex(data['Date']).year

data['Month'] = pd.DatetimeIndex(data['Date']).month

data['DayOfMonth'] = pd.DatetimeIndex(data['Date']).day

data['MaxTemp_F'] = data['MaxTemp'] * 9 / 5 + 32

data['WCI'] = data.apply(wci, axis = 1)

data_by_month = data.groupby(by = 'Month').mean()

data_by_month.sort_values('WCI', ascending=False)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Year,DayOfMonth,MaxTemp_F,WCI
Month,,,,,,,,,,
7,6.951308,16.764242,2.179314,2.699269,6.069790,37.891458,2012.467867,16.001528,62.175636,863.519699
6,7.815031,17.324778,2.781114,2.518705,5.660379,35.506375,2012.975381,15.257648,63.184600,845.755217
8,7.465145,18.258930,2.029610,3.616533,7.171661,40.245052,2012.473474,16.022275,64.866074,836.501471
5,9.618572,20.047202,1.978896,3.244134,6.337496,35.721056,2013.040214,15.991038,68.084964,787.434259
9,9.460189,20.772510,1.875851,4.917265,7.698770,42.213311,2012.461084,15.518378,69.390517,762.816683
10,11.531145,23.540695,1.610734,6.379571,8.500080,42.716694,2012.462725,16.026771,74.373252,697.875616
4,12.831979,23.611845,2.314764,4.547511,7.107208,36.460285,2013.279055,15.492659,74.501320,680.791840
11,14.299624,26.165571,2.273758,7.465236,8.685394,42.582385,2012.435041,15.498211,79.098028,612.435126
3,15.904347,26.886744,2.801304,6.237989,7.646279,39.546399,2013.024778,15.995321,80.396138,570.372892
12,15.771514,27.526390,2.476483,8.046298,8.975372,43.004769,2012.286401,15.969103,81.547503,561.241935
2,17.500239,28.877704,3.174075,7.651018,8.607494,41.457472,2013.054822,14.643515,83.979867,511.722359
1,17.520778,29.547362,2.719036,8.773171,9.208942,43.361730,2013.042721,15.986688,85.185252,504.169996

<h4 style = "color : Sky blue"> Example 5.1: Merging Dataframes</h4>

The join command is used to combine dataframes. Unlike hstack and vstack, the join command works by using a key to combine to dataframes. 

For example the total tea for the Newcastle store for the month of June 2011 is given in the file names ```junesales.csv``` Read in the data from the file and join it to the weather data exracted from the original dataframe.

In [56]:
sales = pd.read_csv("junesales.csv", header = 0)

In [57]:
sales["DayofMonth"] = pd.DatetimeIndex(sales["Date"]).day
sales.head()

       Date  Tea_sales(in 100's)  DayofMonth
0  6/1/2011                   26           1
1  6/2/2011                   35           2
2  6/3/2011                   37           3
3  6/4/2011                   33           4
4  6/5/2011                   25           5

In [51]:
# Filter the sales data for the relevant month and the appropriate location to a new dataframe. 

Newcastle_data = data[(data['Location']=='Newcastle') & (data['Year']==2011) & (data['Month']==6)]
Newcastle_data.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,DayOfMonth,MaxTemp_F,WCI
15605,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,NaN
15606,2011-06-02,Newcastle,NaN,20.2,4.0,NaN,NaN,NaN,NaN,2011,6,2,68.36,NaN
15607,2011-06-03,Newcastle,10.7,20.2,0.4,NaN,NaN,NaN,NaN,2011,6,3,68.36,NaN
15608,2011-06-04,Newcastle,9.4,20.4,0.0,NaN,NaN,NaN,NaN,2011,6,4,68.72,NaN
15609,2011-06-05,Newcastle,9.6,18.8,3.0,NaN,NaN,NaN,NaN,2011,6,5,65.84,NaN

In [58]:
merge_data = Newcastle_data.merge(sales, on = "DayofMonth")
merge_data.head(30)

KeyError: 'DayofMonth'

<h4 style = "color : Sky blue"> Example 5.2: Merging Dataframes</h4>

##### Types of joins. 

* INNER JOIN
![](1.png)

* LEFT JOIN
![](2.png)

* RIGHT JOIN
![](5.png)

* FULL JOIN
![](4.png)


Each state may have different tax laws, so we might want to add the states information to the data as well.

The file ```locationsandstates.csv``` information about the states and location, the data in this file is **not** same as the weather data. It is possible that few locations in "data" (original dataframe) are not in this file, and all the locations in the file might not be in the original dataframe. 

In the original dataframe add the state data.

In [49]:
state = pd.read_csv("locationsandstates.csv", header = 0)
state

          Location               State
0           Sydney    New South Wales
1           Albury    New South Wales
2         Armidale    New South Wales
3         Bathurst    New South Wales
4   Blue Mountains    New South Wales
5      Broken Hill    New South Wales
6     Campbelltown    New South Wales
7         Cessnock    New South Wales
8            Dubbo    New South Wales
9         Goulburn    New South Wales
10         Grafton    New South Wales
11         Lithgow    New South Wales
12       Liverpool    New South Wales
13       Newcastle    New South Wales
14          Orange    New South Wales
15      Parramatta    New South Wales
16         Penrith    New South Wales
17      Queanbeyan    New South Wales
18        Tamworth    New South Wales
19      WaggaWagga    New South Wales
20      Wollongong    New South Wales
21          Darwin  Northern Territory
22      Palmerston  Northern Territory
23        Brisbane          Queensland
24       Bundaberg          Queensland
25      Caboolture          Queensland
26          Cairns          Queensland
27       Caloundra          Queensland
28       Gladstone          Queensland
29      Gold Coast          Queensland
..             ...                 ...
46          Ararat            Victoria
47      Bairnsdale            Victoria
48         Benalla            Victoria
49        Ballarat            Victoria
50         Bendigo            Victoria
51       Dandenong            Victoria
52       Frankston            Victoria
53         Geelong            Victoria
54        Hamilton            Victoria
55         Horsham            Victoria
56    Latrobe City            Victoria
57          Melton            Victoria
58         Mildura            Victoria
59            Sale            Victoria
60      Shepparton            Victoria
61       Swan Hill            Victoria
62      Wangaratta            Victoria
63     Warrnambool            Victoria
64         Wodonga            Victoria
65           Perth   Western Australia
66          Albany   Western Australia
67         Bunbury   Western Australia
68       Busselton   Western Australia
69       Fremantle   Western Australia
70       Geraldton   Western Australia
71       Joondalup   Western Australia
72      Kalgoorlie   Western Australia
73        Karratha   Western Australia
74        Mandurah   Western Australia
75      Rockingham   Western Australia

[76 rows x 2 columns]

In [50]:
state_data = data.merge(state, on = "Location", how = "left")
state_data

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,Dayofmonth,Maxtemp_F,is_raining,WCI,State
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,Not rainy,643.516918,New South Wales
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,Not rainy,840.511893,New South Wales
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,Not rainy,649.698327,New South Wales
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,Not rainy,844.657118,New South Wales
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,Not rainy,519.734257,New South Wales
5,2008-12-06,Albury,14.6,29.7,0.2,NaN,NaN,WNW,56.0,2008,12,6,85.46,Not rainy,539.729918,New South Wales
6,2008-12-07,Albury,14.3,25.0,0.0,NaN,NaN,W,50.0,2008,12,7,77.00,Not rainy,583.639681,New South Wales
7,2008-12-08,Albury,7.7,26.7,0.0,NaN,NaN,W,35.0,2008,12,8,80.06,Not rainy,876.918185,New South Wales
8,2008-12-09,Albury,9.7,31.9,0.0,NaN,NaN,NNW,80.0,2008,12,9,89.42,Not rainy,464.665355,New South Wales
9,2008-12-10,Albury,13.1,30.1,1.4,NaN,NaN,W,28.0,2008,12,10,86.18,Not rainy,704.759022,New South Wales
10,2008-12-11,Albury,13.4,30.4,0.0,NaN,NaN,N,30.0,2008,12,11,86.72,Not rainy,691.336213,New South Wales
11,2008-12-12,Albury,15.9,21.7,2.2,NaN,NaN,NNE,31.0,2008,12,12,71.06,Not rainy,601.537706,New South Wales
12,2008-12-13,Albury,15.9,18.6,15.6,NaN,NaN,W,61.0,2008,12,13,65.48,Not rainy,472.002695,New South Wales
13,2008-12-14,Albury,12.6,21.0,3.6,NaN,NaN,SW,44.0,2008,12,14,69.80,Not rainy,669.782914,New South Wales
14,2008-12-16,Albury,9.8,27.7,NaN,NaN,NaN,WNW,50.0,2008,12,16,81.86,Not rainy,724.087732,New South Wales
15,2008-12-17,Albury,14.1,20.9,0.0,NaN,NaN,ENE,22.0,2008,12,17,69.62,Not rainy,669.138579,New South Wales
16,2008-12-18,Albury,13.5,22.9,16.8,NaN,NaN,W,63.0,2008,12,18,73.22,Not rainy,524.014517,New South Wales
17,2008-12-19,Albury,11.2,22.5,10.6,NaN,NaN,SSE,43.0,2008,12,19,72.50,Not rainy,721.021598,New South Wales
18,2008-12-20,Albury,9.8,25.6,0.0,NaN,NaN,SSE,26.0,2008,12,20,78.08,Not rainy,823.372527,New South Wales
19,2008-12-21,Albury,11.5,29.3,0.0,NaN,NaN,S,24.0,2008,12,21,84.74,Not rainy,763.030589,New South Wales
20,2008-12-22,Albury,17.1,33.0,0.0,NaN,NaN,NE,43.0,2008,12,22,91.40,Not rainy,525.882725,New South Wales
21,2008-12-23,Albury,20.5,31.8,0.0,NaN,NaN,WNW,41.0,2008,12,23,89.24,Not rainy,419.140530,New South Wales
22,2008-12-24,Albury,15.3,30.9,0.0,NaN,NaN,N,33.0,2008,12,24,87.62,Not rainy,618.537588,New South Wales
23,2008-12-25,Albury,12.6,32.4,0.0,NaN,NaN,W,43.0,2008,12,25,90.32,Not rainy,674.717459,New South Wales
24,2008-12-26,Albury,16.2,33.9,0.0,NaN,NaN,WSW,35.0,2008,12,26,93.02,Not rainy,582.301404,New South Wales
25,2008-12-27,Albury,16.9,33.0,0.0,NaN,NaN,WSW,57.0,2008,12,27,91.40,Not rainy,466.873344,New South Wales
26,2008-12-28,Albury,20.1,32.7,0.0,NaN,NaN,WNW,48.0,2008,12,28,90.86,Not rainy,409.988217,New South Wales
27,2008-12-29,Albury,19.7,27.2,0.0,NaN,NaN,WNW,46.0,2008,12,29,80.96,Not rainy,429.899888,New South Wales
28,2008-12-30,Albury,12.5,24.2,1.2,NaN,NaN,WNW,50.0,2008,12,30,75.56,Not rainy,639.818901,New South Wales
29,2008-12-31,Albury,12.0,24.4,0.8,NaN,NaN,W,39.0,2008,12,31,75.92,Not rainy,712.949580,New South Wales
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142163,2017-05-26,Uluru,14.3,27.6,0.4,NaN,NaN,WNW,39.0,2017,5,26,81.68,Not rainy,634.864626,NaN
142164,2017-05-27,Uluru,9.3,28.0,0.0,NaN,NaN,W,28.0,2017,5,27,82.40,Not rainy,839.336121,NaN
142165,2017-05-28,Uluru,8.0,24.6,0.0,NaN,NaN,E,33.0,2017,5,28,76.28,Not rainy,873.640662,NaN
142166,2017-05-29,Uluru,12.7,22.2,0.0,NaN,NaN,E,37.0,2017,5,29,71.96,Not rainy,696.850794,NaN
142167,2017-05-30,Uluru,9.4,22.7,0.0,NaN,NaN,E,35.0,2017,5,30,72.86,Not rainy,817.994829,NaN
142168,2017-05-31,Uluru,5.4,20.5,0.0,NaN,NaN,E,46.0,2017,5,31,68.90,Not rainy,892.123075,NaN
142169,2017-06-01,Uluru,5.6,19.4,0.0,NaN,NaN,E,43.0,2017,6,1,66.92,Not rainy,906.238156,NaN
142170,2017-06-02,Uluru,1.5,19.2,0.0,NaN,NaN,E,37.0,2017,6,2,66.56,Not rainy,1081.320197,NaN
142171,2017-06-03,Uluru,3.8,19.8,0.0,NaN,NaN,ENE,39.0,2017,6,3,67.64,Not rainy,991.339416,NaN
142172,2017-06-04,Uluru,4.5,18.8,0.0,NaN,NaN,E,31.0,2017,6,4,65.84,Not rainy,1002.562843,NaN
142173,2017-06-05,Uluru,4.9,20.7,0.0,NaN,NaN,E,37.0,2017,6,5,69.26,Not rainy,964.606271,NaN
142174,2017-06-06,Uluru,1.2,20.8,0.0,NaN,NaN,E,43.0,2017,6,6,69.44,Not rainy,1051.765451,NaN
142175,2017-06-07,Uluru,0.5,21.7,0.0,NaN,NaN,E,43.0,2017,6,7,71.06,Not rainy,1074.917520,NaN
142176,2017-06-08,Uluru,4.0,20.0,0.0,NaN,NaN,SE,39.0,2017,6,8,68.00,Not rainy,984.549420,NaN
142177,2017-06-09,Uluru,3.4,19.8,0.0,NaN,NaN,E,43.0,2017,6,9,67.64,Not rainy,979.001803,NaN
142178,2017-06-10,Uluru,3.2,18.6,0.0,NaN,NaN,E,46.0,2017,6,10,65.48,Not rainy,963.234335,NaN
142179,2017-06-11,Uluru,2.4,19.1,0.0,NaN,NaN,E,33.0,2017,6,11,66.38,Not rainy,1069.336170,NaN
142180,2017-06-12,Uluru,5.1,19.7,0.0,NaN,NaN,E,46.0,2017,6,12,67.46,Not rainy,901.820065,NaN
142181,2017-06-13,Uluru,2.5,21.2,0.0,NaN,NaN,ENE,35.0,2017,6,13,70.16,Not rainy,1057.154334,NaN
142182,2017-06-14,Uluru,2.3,21.4,0.0,NaN,NaN,SE,22.0,2017,6,14,70.52,Not rainy,1086.907638,NaN
142183,2017-06-15,Uluru,2.6,22.5,0.0,NaN,NaN,S,19.0,2017,6,15,72.50,Not rainy,1066.705279,NaN
142184,2017-06-16,Uluru,5.2,24.3,0.0,NaN,NaN,E,24.0,2017,6,16,75.74,Not rainy,986.616297,NaN
142185,2017-06-17,Uluru,6.4,23.4,0.0,NaN,NaN,ESE,31.0,2017,6,17,74.12,Not rainy,935.725321,NaN
142186,2017-06-18,Uluru,8.0,20.7,0.0,NaN,NaN,ESE,41.0,2017,6,18,69.26,Not rainy,838.281059,NaN
142187,2017-06-19,Uluru,7.4,20.6,0.0,NaN,NaN,E,35.0,2017,6,19,69.08,Not rainy,887.316424,NaN
142188,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,2017,6,20,71.24,Not rainy,1037.740487,NaN
142189,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,2017,6,21,74.12,Not rainy,1062.364838,NaN
142190,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,2017,6,22,77.54,Not rainy,1040.882233,NaN
142191,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,2017,6,23,80.42,Not rainy,947.442458,NaN
142192,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,2017,6,24,80.60,Not rainy,892.458661,NaN

In [52]:
#practice code
import numpy as np
import pandas as pd

sales2 = pd.read_csv('junesales.csv', header = 0)

sales2.head()

sales2['DayOfMonth'] = pd.DatetimeIndex(sales['Date']).day

sales2.head()

       Date  Tea_sales(in 100's)  DayOfMonth
0  6/1/2011                   26           1
1  6/2/2011                   35           2
2  6/3/2011                   37           3
3  6/4/2011                   33           4
4  6/5/2011                   25           5

In [62]:
#practice code

Newcastle_data2 = data[(data['Location'] == "Newcastle") & (data['Year'] == 2011) & (data['Month'] == 6)]

merge_data2 = Newcastle_data2.merge(sales2, on = 'DayOfMonth')

merge_data2.head()

,Date_x,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,DayOfMonth,MaxTemp_F,WCI,Date_y,Tea_sales(in 100's)
0,2011-06-01,Newcastle,NaN,21.2,6.0,NaN,NaN,NaN,NaN,2011,6,1,70.16,NaN,6/1/2011,26
1,2011-06-02,Newcastle,NaN,20.2,4.0,NaN,NaN,NaN,NaN,2011,6,2,68.36,NaN,6/2/2011,35
2,2011-06-03,Newcastle,10.7,20.2,0.4,NaN,NaN,NaN,NaN,2011,6,3,68.36,NaN,6/3/2011,37
3,2011-06-04,Newcastle,9.4,20.4,0.0,NaN,NaN,NaN,NaN,2011,6,4,68.72,NaN,6/4/2011,33
4,2011-06-05,Newcastle,9.6,18.8,3.0,NaN,NaN,NaN,NaN,2011,6,5,65.84,NaN,6/5/2011,25

In [63]:
state2_data = pd.read_csv('locationsandstates.csv', header = 0)
state2_data.head()

         Location             State
0          Sydney  New South Wales
1          Albury  New South Wales
2        Armidale  New South Wales
3        Bathurst  New South Wales
4  Blue Mountains  New South Wales

In [85]:
#practice code

data['Location'].unique()

new_data = data.merge(state2_data, on = ['Location'], how = 'left')
print(len(new_data))

new_data.head()

142193

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,DayOfMonth,MaxTemp_F,WCI,State
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,2008,12,1,73.22,643.516918,New South Wales
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,2008,12,2,77.18,840.511893,New South Wales
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,2008,12,3,78.26,649.698327,New South Wales
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,2008,12,4,82.40,844.657118,New South Wales
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,2008,12,5,90.14,519.734257,New South Wales

<h4 style = "color : Sky blue"> Example 6.1: pivot tables</h4>

Using pivot tables find the average monthly rainfall in the year 2016 of all the locations. The information can then be used to predict the sales of tea in the year 2017.

In [124]:
data_2016 = data[data["Year"] ==2016]
data_2016

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Year,Month,DayOfMonth,MaxTemp_F,WCI
2474,2016-01-01,Albury,20.4,37.6,0.0,NaN,NaN,ENE,54.0,2016,1,1,99.68,377.807123
2475,2016-01-02,Albury,20.9,33.6,0.4,NaN,NaN,SSE,50.0,2016,1,2,92.48,377.649205
2476,2016-01-03,Albury,18.4,23.1,2.2,NaN,NaN,ENE,48.0,2016,1,3,73.58,464.017672
2477,2016-01-04,Albury,17.3,23.7,15.6,NaN,NaN,SSE,39.0,2016,1,4,74.66,533.014686
2478,2016-01-05,Albury,15.5,22.9,6.8,NaN,NaN,ENE,31.0,2016,1,5,73.22,615.608763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142014,2016-12-27,Uluru,22.1,35.8,63.8,NaN,NaN,WNW,43.0,2016,12,27,96.44,360.510799
142015,2016-12-28,Uluru,22.6,36.8,0.0,NaN,NaN,NW,50.0,2016,12,28,98.24,324.591052
142016,2016-12-29,Uluru,23.2,38.0,0.0,NaN,NaN,SSW,33.0,2016,12,29,100.40,342.467139
142017,2016-12-30,Uluru,19.7,37.0,0.0,NaN,NaN,E,37.0,2016,12,30,98.60,456.557417
142018,2016-12-31,Uluru,23.7,33.0,0.0,NaN,NaN,NE,46.0,2016,12,31,91.40,300.606688

In [125]:
data_2016.pivot_table(index = "Location", columns = "Month", values = "Rainfall", aggfunc='mean')

Month,1,2,3,4,5,6,7,8,9,10,11,12
Location,,,,,,,,,,,,
Adelaide,1.703226,0.634483,1.735484,0.320000,2.838710,3.173333,3.612903,1.896774,4.373333,2.612903,1.106667,2.800000
Albany,2.380645,0.748276,1.144828,3.153333,3.158065,4.010000,3.954839,3.777419,3.426667,2.025806,0.753333,0.650000
Albury,2.206452,1.013793,0.961290,0.546667,3.477419,2.866667,3.767742,2.400000,4.740000,1.980645,1.653333,0.735484
AliceSprings,1.290323,0.910345,0.522581,0.000000,1.832258,0.933333,0.000000,0.658065,1.640000,0.109677,0.233333,4.352000
BadgerysCreek,5.012903,0.441379,1.019355,0.346667,0.380645,8.346667,1.438710,1.890323,1.826667,0.458065,0.337931,0.728571
Ballarat,1.358621,0.355556,1.180645,0.460000,2.303226,2.353333,3.012903,2.051613,5.940000,3.303226,1.133333,0.890323
Bendigo,1.117241,0.162963,1.077419,0.493333,2.677419,1.913333,2.961290,2.612903,5.113333,1.883871,1.253333,0.941935
Brisbane,0.972414,0.523077,3.787097,0.426667,0.890323,8.826667,0.909677,1.019355,1.726667,0.974194,0.933333,3.290323
Cairns,9.316129,4.689655,8.329032,4.593103,9.336842,2.220000,2.741935,1.348387,4.500000,2.427273,0.765217,4.033333
Canberra,3.432258,0.806897,0.916129,0.226667,1.535484,4.806667,2.290323,1.490323,4.973333,1.406452,1.893333,2.083871
Cobar,0.728571,0.062069,2.344828,1.313333,2.438710,3.586667,1.058065,1.948387,3.406667,0.658065,1.126316,0.993548
CoffsHarbour,3.129032,1.086207,2.345161,3.876667,0.112903,11.350000,0.732258,5.706452,1.163333,0.841935,3.546667,2.051613
Dartmoor,0.606897,1.420690,0.922581,1.133333,3.238710,5.053333,4.116129,2.780645,3.640000,2.341935,1.560000,1.670968
Darwin,5.477419,5.186207,3.735484,1.546667,2.012903,0.000000,0.000000,0.000000,2.146667,4.219355,6.940000,13.122581
GoldCoast,3.360000,2.336000,1.745455,3.764286,0.600000,10.042857,0.607407,2.407407,1.284615,1.264000,0.992308,1.825806
Hobart,1.296774,0.751724,0.548387,0.293333,3.096774,3.846667,2.554839,0.509677,3.140000,2.690323,2.173333,1.825806
Katherine,8.112903,3.889655,3.245161,0.626667,1.438710,0.000000,0.179310,0.000000,1.933333,0.141935,1.350000,3.469565
Launceston,4.961290,0.848276,1.596774,0.920000,4.312903,4.483333,4.545161,2.083871,2.706667,2.377419,1.840000,2.287097
Melbourne,NaN,NaN,NaN,NaN,1.838710,1.813333,2.070968,1.974194,2.906667,2.045161,1.046667,1.277419
MelbourneAirport,1.445161,0.151724,0.877419,1.213333,1.516129,2.213333,2.045161,0.987097,3.326667,2.496774,1.326667,2.496774
Mildura,2.200000,0.006897,0.012903,0.100000,1.400000,0.606667,0.619355,0.993548,3.120000,0.800000,1.706667,0.180645
Moree,3.270588,0.110345,0.347826,0.453333,1.122581,2.106667,0.470968,1.612903,4.620000,1.832258,0.773333,1.135484
MountGambier,0.425806,1.668966,0.916129,1.046667,3.438710,5.433333,4.948387,2.779310,3.921429,2.290323,1.653333,1.917241
MountGinini,4.690323,1.427586,1.767742,0.520000,3.432258,9.153333,6.354839,2.277419,7.110345,3.600000,1.926667,2.967742
Newcastle,13.851613,2.475000,2.280645,2.140000,0.458065,6.713333,1.787097,1.674194,1.866667,1.813793,1.693333,1.768000
Nhil,1.193548,0.496296,1.116129,0.220000,1.322581,1.446667,1.993548,1.083871,3.113333,1.903226,0.453333,1.032258
NorahHead,7.013793,0.600000,4.980645,1.813333,0.412903,6.506667,2.664516,2.432258,2.306667,1.941935,1.173333,2.238710
NorfolkIsland,4.419355,9.165517,8.841379,2.740000,3.880645,3.920000,2.161290,3.516129,2.440000,1.290323,7.084211,0.375000
Nuriootpa,0.967742,0.424138,1.470968,0.483333,2.862069,3.140000,2.437931,2.054839,6.036667,1.512903,0.783333,1.658065
PearceRAAF,0.696552,0.034483,3.283871,2.273333,2.909677,3.140000,3.845161,4.329032,1.664286,1.307143,0.246667,0.445161
Penrith,9.929032,0.072000,0.541935,0.406667,0.268966,6.980000,1.776000,1.574194,1.666667,0.400000,0.585714,2.248276
Perth,0.490323,0.020690,0.541935,2.273333,3.612903,3.646667,4.503226,3.974194,2.293333,1.206452,0.480000,0.329032
PerthAirport,0.754839,0.027586,0.690323,2.053333,3.419355,2.880000,4.174194,4.245161,2.060000,1.219355,0.186667,0.277419
Portland,0.944828,2.806897,0.961290,1.386667,4.658065,4.000000,5.425806,3.522581,5.471429,3.703226,2.246667,1.524138
Richmond,8.593548,0.525926,0.441379,0.286667,0.135484,6.306667,1.845161,1.987097,1.846667,0.438710,1.353333,2.529032
Sale,3.613793,0.213793,1.954839,0.866667,1.219355,2.433333,3.303226,0.845161,1.207143,2.259259,1.780000,0.761290
SalmonGums,1.331034,0.496552,1.670968,1.093333,1.148387,1.906667,1.051613,1.729032,0.900000,0.374194,0.113333,0.593103
Sydney,8.058065,0.889655,6.232258,5.166667,0.232258,10.166667,3.374194,4.883871,2.333333,1.012903,0.906667,2.096774
SydneyAirport,8.477419,1.393103,5.025806,2.700000,0.432258,9.313333,3.683871,4.238710,2.260000,1.103226,0.893333,1.883871
Townsville,2.470968,3.262069,18.000000,0.700000,0.012903,1.966667,1.716129,0.677419,0.242857,0.264516,0.366667,1.064286
Tuggeranong,3.234483,1.162963,1.875862,0.235714,1.200000,6.133333,2.077419,1.232258,5.033333,1.392593,1.780000,3.012903
Uluru,0.081481,0.491667,0.935484,0.006667,2.406452,2.681481,0.690323,0.935484,0.520000,0.064516,0.046667,6.929032
WaggaWagga,1.780645,0.558621,1.077419,0.360000,3.813793,2.820000,2.987097,1.896774,5.700000,2.064516,1.041667,0.600000
Walpole,3.584000,1.427586,1.151724,4.221429,4.870968,5.408333,6.379310,6.448276,5.092857,2.928571,0.938462,1.703226
Watsonia,1.207407,0.324138,0.890323,1.700000,1.722581,2.393333,2.051613,1.780645,2.792857,3.048276,2.033333,3.800000
Williamtown,13.625806,1.117241,1.474074,5.585185,0.361290,5.230000,1.696774,1.800000,1.660000,2.406452,1.561538,11.680000
Witchcliffe,0.296296,0.324138,0.551724,1.735714,6.238710,7.650000,7.806452,7.348387,4.364286,2.751724,0.570370,0.832258
Wollongong,5.735484,1.710345,6.587097,1.820000,0.316129,14.553333,3.483871,3.612903,1.580000,0.200000,0.986207,1.586667
Woomera,0.012903,0.524138,0.774194,0.033333,0.945161,1.890000,0.222581,0.890323,1.500000,0.335484,0.016667,0.505000

Find the Pandas pivot table documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html)

This information can be used to decide the stocks of tea in each of the stores. 

You can modify the pivot_table command to get a lot of work done quickly.

In [126]:
data_2016.pivot_table(index = ["Location", "Year"], columns = "Month", values = "Sunshine", aggfunc='mean')

,Month,1,2,3,4,5,6,7,8,9,10,11,12
Location,Year,,,,,,,,,,,,
Albany,2016,5.588000,7.825000,4.450000,3.473333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AliceSprings,2016,9.427273,11.638462,9.558621,10.212500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Brisbane,2016,8.870000,9.781481,8.558065,7.853333,8.332258,5.400000,6.864516,8.577419,7.690000,9.909677,10.293103,8.806452
Cairns,2016,8.576667,9.020690,7.116667,6.980952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dartmoor,2016,8.873333,7.813793,5.293548,5.304545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Darwin,2016,8.045161,8.065517,7.490323,9.320000,9.416129,10.266667,10.329032,10.383871,8.633333,9.145161,8.433333,5.922581
Hobart,2016,6.900000,8.186207,6.335484,6.420000,4.287097,3.630000,4.993548,6.574194,6.043333,7.587097,7.413333,8.430000
Melbourne,2016,NaN,NaN,NaN,8.400000,5.219355,3.850000,3.861290,5.738710,4.893333,6.941935,6.960000,8.374194
MelbourneAirport,2016,6.912903,8.472414,5.835484,6.373333,5.219355,3.850000,3.861290,5.738710,4.893333,6.941935,6.960000,8.374194
Mildura,2016,8.990000,11.496429,9.067742,7.892857,6.057143,4.950000,4.966667,7.377419,7.000000,9.270000,9.709524,10.245833
Moree,2016,9.623077,11.200000,10.270000,9.272727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MountGambier,2016,9.000000,7.813793,5.293548,5.304545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NorfolkIsland,2016,7.643333,4.710714,6.546429,6.538462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nuriootpa,2016,10.167742,10.537931,7.593548,7.306667,4.831579,4.810000,4.393103,6.722222,5.353571,8.970968,10.072414,10.060714
PearceRAAF,2016,9.330000,11.641379,9.003226,6.413333,6.590323,5.686667,6.141935,6.193548,7.862069,9.762069,11.940000,12.045161
Perth,2016,9.412903,11.641379,9.003226,6.413333,6.590323,5.686667,6.141935,6.193548,7.940000,9.725806,11.940000,12.045161
PerthAirport,2016,9.412903,11.641379,9.003226,6.413333,6.590323,5.686667,6.141935,6.193548,7.940000,9.725806,11.940000,12.045161
Portland,2016,8.900000,7.813793,5.293548,5.304545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sydney,2016,6.600000,9.572414,7.412903,7.246667,7.451613,5.631034,6.663333,6.830000,7.466667,9.106452,9.500000,7.425806
SydneyAirport,2016,6.600000,9.572414,7.412903,7.246667,7.451613,5.631034,6.663333,6.830000,7.466667,9.106452,9.500000,7.425806
Townsville,2016,9.480645,9.210345,6.912903,8.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WaggaWagga,2016,8.151613,11.500000,9.145161,8.957692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Watsonia,2016,6.924138,8.472414,5.835484,6.373333,5.219355,3.850000,3.861290,5.738710,4.879310,7.010000,6.960000,8.100000
Williamtown,2016,7.226667,10.913333,8.181250,6.723077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woomera,2016,10.387097,11.710345,7.609677,8.957692,7.644828,NaN,NaN,NaN,NaN,NaN,0.000000,NaN

##### Note

[Here](https://pandas.pydata.org/pandas-docs/stable/index.html) is the link to the official documentation of Pandas. Be sure to visit it inorder to explore to availability of functions in the library.

In [121]:
data_2017 = data[data['Year'] == 2015]

data_2017.pivot_table(index = 'Location', columns = 'Month', values = 'Sunshine', aggfunc = 'mean')

Month,1,2,3,4,5,6,7,8,9,10,11,12
Location,,,,,,,,,,,,
Albany,9.087097,8.311111,6.619355,5.246667,4.933333,5.596667,4.025806,5.367742,6.570000,7.100000,7.183333,7.871429
AliceSprings,7.723333,11.728571,10.665517,9.032143,9.016129,8.924000,8.909677,10.216129,11.060000,10.754839,10.889286,7.829032
Brisbane,7.863333,8.855556,8.761290,8.062069,8.203704,5.533333,7.532258,8.580645,8.631034,9.051613,9.216667,8.583871
Cairns,7.419355,6.950000,8.245161,8.646667,8.512903,6.153333,7.806667,9.693333,9.522222,9.076923,8.523333,6.033333
Dartmoor,8.235484,8.471429,6.658065,4.456667,5.125806,3.790000,4.045161,5.438710,5.586667,8.051613,6.356667,10.483871
Darwin,4.412903,6.964286,7.448387,9.833333,10.032258,10.433333,10.625806,10.670968,10.020000,10.477419,9.810000,5.053333
Hobart,7.036667,7.967857,7.009677,5.420000,5.335484,5.262069,5.496667,6.000000,6.373333,9.141935,7.550000,8.729032
Melbourne,9.480000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MelbourneAirport,8.283871,7.835714,7.754839,5.446667,4.929032,4.046667,4.129032,3.612903,6.263333,7.825806,7.290000,10.261290
Mildura,9.528571,11.107143,10.075862,7.018519,6.274194,5.421429,6.121053,6.096667,9.290000,9.416129,10.962069,10.953571
Moree,6.992857,10.761538,9.333333,9.178571,7.825000,6.793750,7.820000,9.586667,10.592308,9.787500,11.300000,9.981250
MountGambier,8.235484,8.471429,6.658065,4.456667,5.125806,3.790000,4.045161,5.438710,5.586667,8.051613,6.356667,10.483871
NorfolkIsland,8.151613,6.250000,7.983871,6.883333,5.864516,5.723333,6.387097,8.063333,7.383333,7.264516,8.417241,7.016129
Nuriootpa,8.741379,10.300000,8.606452,6.284615,5.477419,4.371429,4.965517,5.106667,7.182143,9.326667,10.043333,10.558065
PearceRAAF,11.483871,10.300000,9.235484,7.386667,7.651613,6.620000,4.927586,6.822581,9.413793,9.419355,11.510000,11.361290
Perth,11.483871,10.300000,9.235484,7.386667,7.651613,6.620000,5.212903,6.822581,9.416667,9.419355,11.510000,11.361290
PerthAirport,11.483871,10.300000,9.235484,7.386667,7.651613,6.620000,5.212903,6.822581,9.416667,9.419355,11.510000,11.361290
Portland,8.235484,8.471429,6.658065,4.456667,5.125806,3.790000,4.045161,5.438710,5.562069,8.051613,6.356667,10.483871
Sydney,8.309677,7.242857,6.748387,5.660000,5.883871,5.380000,6.883871,8.190323,8.090000,7.541935,6.706897,7.941379
SydneyAirport,8.309677,7.242857,6.748387,5.660000,5.883871,5.380000,6.883871,8.190323,8.090000,7.541935,6.946429,7.941379
Townsville,8.164516,9.007143,9.603226,9.630000,9.054839,6.210000,8.825806,10.054839,10.168966,10.396774,10.103333,9.393548
WaggaWagga,9.445161,10.614286,9.751613,6.292593,6.570968,5.720000,5.454839,4.645161,9.040000,9.741935,10.326667,10.925806
Watsonia,8.283871,7.835714,7.754839,5.446667,4.929032,4.046667,4.150000,3.612903,6.263333,7.825806,7.290000,10.261290
Williamtown,7.342857,9.815385,7.416667,6.553333,7.490909,5.500000,6.380000,8.087500,9.418750,8.335714,9.500000,7.800000
Woomera,9.450000,11.758824,10.313636,7.918750,6.780952,6.007143,7.215000,8.021053,10.363636,9.517647,8.830000,9.180952